.contenedor {
    font-family: sans-serif;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #fff;
    font-size: 20px;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding: 10px;
    
}