
h1 {
    color: $colorsecundario;
    font-size: 48px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px; 
    text-shadow: black 0.1em 0.1em 0.2em;
    font-family: sans-serif;
}

h2 {
    color: $colorterciario;
    font-size: 48px;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

h3 {
    color: rgb(103, 255, 65);
    font-size: 48px;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    text-shadow: 1px  0px 0px black,
    0px  1px 0px black,
   -1px  0px 0px black,
    0px -1px 0px black;
}

h4 {
    font-family: sans-serif;
    letter-spacing: 0.01em;
    line-height: 1.6;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
    color: $colorsecundario;
    text-shadow: black 0.1em 0.1em 0.2em;
}