.footer {
    grid-area: footer;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $colorprimario;
    margin-top: 0px
}

.footer__contenedor {
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    img {
        margin-bottom: -25px;
    }
    h3 {
        color: $colorsecundario;
        font-size: 48px;
        width: 100%;
        text-align: center;
    }
    p {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        color: $colorsecundario;
    }
}

.red_social {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    li {
        list-style: none;
        p {
            width: 100%;
            text-align: center;
            padding-bottom: 5px;
        }
        a {
            text-decoration: none;
            color: $colorsecundario;
            font-size: 15px;
            margin-right:20px;          
        }
    }
}       
